Code - OSS/
GIMP/
Kvantum/
QtProject.conf
VSCodium/
baloofileinformationrc
btop/
clipse-gui/
clipse/
dconf/
dolphinrc
evolution/
filetypesrc
go/
gtk-3.0/
gtk-4.0/
htop/
kdeglobals
kiorc
kservicemenurc
ktrashrc
mimeapps.list
nwg-look/
pavucontrol.ini
pulse/
qalculate/
qt5ct/
qt6ct/
rofi/
session/
spotify/
trashrc
user-dirs.dirs
user-dirs.locale
vlc/
xsettingsd/
Docker Desktop/
composer/
herd-lite/